    <div class="content-wrapper">
      <div class="status-filters">
        <a href="/issues/open">Open <span class="total-number-span">3</span></a>
        <a href="/issues/closed">Closed <span class="total-number-span">0</span></a>
        <a href="/issues/all">All <span class="total-number-span">3</span></a>
      </div>
      <hr />
      <div class="search">
        <input type="text" />
        <div class="button"><i class="fa-solid fa-magnifying-glass"></i></div>
      </div>
      <hr />
      <div class="issues">
        <ul>

        </ul>
      </div>
    </div>