    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
        <ul>
          <li><a href="/issues/browse">Issues</a></li>
        </ul>
      </nav>
    </header>
