    <div class="content-wrapper">
      <h1>B3-Production</h1>
      <p>This is a web application hosted on a Linux server. The goal is to display GitLab repository issues in real time to users.</p>
    </div>