<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <script
      src="https://kit.fontawesome.com/a3d546e7b4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
        <ul>
          <li><a href="/">Issues</a></li>
        </ul>
      </nav>
    </header>
    <div class="content-wrapper two-side">
      <div class="issue-detailed">
        <h2 class="issue-title-big">New Issue</h2>
        <div class="row">
          <p style="background-color: #008000" class="issue-state">Open</p>
          <p class="row">
            Issue created on 11/11/2001 by
            <a href="/" class="text-anchor" hover-text="Name Name"
              ><img
                class="user-img"
                src="https://secure.gravatar.com/avatar/4bd60b1bdde98ee542f011029353b7be5876c943ae3cb5e47ec921b7fe89663c?s=80&d=identicon"
            /></a>
          </p>
        </div>
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
            autem numquam eaque sed error nemo! Enim rerum itaque blanditiis
            tempora.
          </p>
        </div>
        <div class="row">
          <div class="rating upvote">
            <i class="fa-regular fa-thumbs-up"> 10</i>
          </div>
          <div class="rating downvote">
            <i class="fa-regular fa-thumbs-down"> 5</i>
          </div>
        </div>
        <div class="comments">
          <h2 class="issue-comments-heading">Comments</h2>
          <ul class="comments-list">
            <li>
              <div class="comment">
                <a href="/"
                  ><img
                    class="user-img"
                    src="https://secure.gravatar.com/avatar/4bd60b1bdde98ee542f011029353b7be5876c943ae3cb5e47ec921b7fe89663c?s=80&d=identicon"
                    alt=""
                /></a>
                <div class="comment-details">
                  <div class="row">
                    <a href="/">Name Name</a>
                    <p>01/01/2001</p>
                  </div>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Autem, culpa?
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="comment">
                <a href="/"
                  ><img
                    class="user-img"
                    src="https://secure.gravatar.com/avatar/4bd60b1bdde98ee542f011029353b7be5876c943ae3cb5e47ec921b7fe89663c?s=80&d=identicon"
                    alt=""
                /></a>
                <div class="comment-details">
                  <div class="row">
                    <a href="/">Name Name</a>
                    <p>01/01/2001</p>
                  </div>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Quis earum ipsa doloremque similique itaque? Molestiae
                    dolores accusantium fuga voluptatum. Molestias numquam
                    suscipit dolorum minus? Sunt aliquam cum a recusandae sit.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="issue-detailed-info">
        <div class="issue-detailed-assignees">
          <p class="issue-detailed-info-label">2 Assignees:</p>
          <ul class="assignees-list-detailed">
            <li>
              <a class="assignee-detailed" href="/"
                ><img
                  class="user-img"
                  src="https://secure.gravatar.com/avatar/4bd60b1bdde98ee542f011029353b7be5876c943ae3cb5e47ec921b7fe89663c?s=80&d=identicon"
                />
                Name Name</a
              >
            </li>
            <li>
              <a class="assignee-detailed" href="/"
                ><img
                  class="user-img"
                  src="https://secure.gravatar.com/avatar/4bd60b1bdde98ee542f011029353b7be5876c943ae3cb5e47ec921b7fe89663c?s=80&d=identicon"
                />
                Name Name</a
              >
            </li>

            <li>
              <a class="assignee-detailed" href="/"
                ><img
                  class="user-img"
                  src="https://secure.gravatar.com/avatar/4bd60b1bdde98ee542f011029353b7be5876c943ae3cb5e47ec921b7fe89663c?s=80&d=identicon"
                  hover-text="Name Name"
                />
                Name Name</a
              >
            </li>
          </ul>
        </div>
        <div>
          <p class="issue-detailed-info-label">Labels:</p>
          <ul class="labels-list">
            <li>
              <div
                style="background-color: #254125; color: #ffffff"
                class="issue-label"
              >
                Long label
              </div>
            </li>
            <li>
              <div
                style="background-color: #b7d62c; color: #000000"
                class="issue-label"
              >
                Bullshit label123
              </div>
            </li>
            <li>
              <div
                style="background-color: #008000; color: #ffffff"
                class="issue-label"
              >
                Label
              </div>
            </li>
            <li>
              <div
                style="background-color: #008000; color: #ffffff"
                class="issue-label"
              >
                Label
              </div>
            </li>
            <li>
              <div
                style="background-color: #008000; color: #ffffff"
                class="issue-label"
              >
                Label
              </div>
            </li>
            <li>
              <div
                style="background-color: #008000; color: #ffffff"
                class="issue-label"
              >
                Label
              </div>
            </li>
            <li>
              <div
                style="background-color: #008000; color: #ffffff"
                class="issue-label"
              >
                Label
              </div>
            </li>
            <li>
              <div
                style="background-color: #008000; color: #ffffff"
                class="issue-label"
              >
                Label
              </div>
            </li>
            <li>
              <div
                style="background-color: #008000; color: #ffffff"
                class="issue-label"
              >
                Label
              </div>
            </li>
          </ul>
        </div>
        <div>
          <p class="issue-detailed-info-label">Milestone:</p>
          <p>Milestone</p>
        </div>
        <div>
          <p class="issue-detailed-info-label">Weight:</p>
          <p>20</p>
        </div>
        <div>
          <p class="issue-detailed-info-label">Due date:</p>
          <p>Utre</p>
        </div>
      </div>
    </div>
  </body>
</html>
