      <form id="snippet-form" action="add" method="post">
        <h2>Add snippet</h2>
        <div class="form-input">
          <label for="progLang">Language:</label>
          <input type="text" id="progLang" name="progLang" required />
        </div>
        <div class="form-input">
          <label for="codeStr">Code:</label>
        <textarea name="codeStr" id="codeStr" required></textarea>
        </div>

        <button class="button" type="submit">Add Snippet</button>
      </form>
