body {
  background-color: rgb(114, 39, 114);
}

.center-div {
  position: relative;
  top: 30vh;
}

.label-div {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.answer-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 500px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  border-radius: 16px;
}

input:focus {
  background-color: aliceblue;
  border-color: black;
}

#quiz-div {
  display: none;
}

.top-right-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
}

.top-right-div > p {
  padding-left: 12px;
}

button {
  width: 300px;
  min-height: 60px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  word-wrap: break-word;
}

ul {
  width: 800px;
  list-style: none;
  display: flex;
  gap: 16px;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
  background-color: rebeccapurple;
}

#result-div {
  display: none;
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

#lose-div {
  display: none;
  color: white;
  font-size: 32px;
  text-align: center;
}

#progress-div {
  display: none;
  width: 500px;
  margin: 50px auto;
  height: 30px;
  background-color: rgba(117, 72, 241, 0.603);
  border-radius: 5px;
  overflow: hidden;
}

#progress-indicator {
  height: 100%;
  width: 100%;
  background-color: rgba(68, 60, 190, 0.493);
  transition: width 0.0001s linear;
}

/* #scoreboard-div {
  background-color: rgba(243, 226, 203, 0.239);
  border-radius: 16px;
  color: white;
  font-size: 24px;
} */

#my-score-div,
#scoreboard-div {
  background-color: rgba(243, 226, 203, 0.239);
  position: relative;
  top: 10px;
  border-radius: 16px;
  color: white;
  font-size: 24px;
  padding: 10px 30px 10px 10px;
  margin-bottom: 20px;
}
