<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/header.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <script
      src="https://kit.fontawesome.com/a3d546e7b4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header id="header">
      <div class="left-side">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/add">Add Snippet</a></li>
        </ul>
      </div>
      <div class="right-side">
        <ul>
          <li><a href="/">Login</a></li>
          <li><span>/</span></li>
          <li><a href="/add">Register</a></li>
        </ul>
      </div>
    </header>
    <main id="main">
      <div class="snippet-div">
        <div class="snippet-action">
          <ul>
            <li><a class="button" href="/add">Add</a></li>
          </ul>
        </div>

        <ul class="snippet-list">
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="snippet">
              <div class="snippet-header">
                <a href="/snippet/view?id=1"><h2>Test code snippet</h2></a>
                <div class="snippet-header-details">
                  <p class="snippet-language">
                    <i class="fa-solid fa-code"></i> Java
                  </p>
                  <p><i class="fa-regular fa-user"></i> User1</p>
                  <p><i class="fa-regular fa-clock"></i> 18/02/2024</p>
                </div>
              </div>
              <p>
                Description: Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Temporibus, praesentium.
              </p>
              <div class="snippet-actions">
                <ul>
                  <li><a class="button" href="/snippet/view?id=1">View</a></li>
                  <li>
                    <a class="button" href="/snippet/delete?id=1">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="info-div">
        <div class="info">
          <h3>Top languages:</h3>
          <ol>
            <li><p>Java</p></li>
            <li><p>Python</p></li>
            <li><p>C++</p></li>
          </ol>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
