<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/form.css" />
  <link rel="stylesheet" href="/css/snippet.css" />
  <link rel="stylesheet" href="/css/flash.css" />
  <link rel="stylesheet" href="/css/error.css" />
  <link rel="stylesheet" href="/css/style.css" />


  <script src="https://kit.fontawesome.com/a3d546e7b4.js" crossorigin="anonymous"></script>

</head>

<body>
  <%- include('header') -%>

  <%- include(page) -%>
  <footer></footer>
</body>

</html>